@media screen and (max-width: 800px){

    @font-face{
        font-family: 'Roboto Slab';
        src: url('./fuentes/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
    }
*{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: "Roboto Slab";
    width: 100%;
    height: 35px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #fff; 
}

.barrademenusuperior{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;

}
.barrademenusuperior ul{
        display: none;
}
    
.barrademenusuperior .iconomenu{
    
    display: flex;
    height: 30px;
    width: 30px;
    align-self: center;
}
.lineasuperior{
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #d0dbe6;

}
.redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
}
.contenedoroscuro{
    display: flex;
    margin: 1px 1px 1px 1px;
    width: 100%;
    height: 40pc;
    
}
.contenedoroscuro .fotopresentacion{
    display: none;
}
.contenedoroscuro .contenedordeprincipal{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 40pc;
    justify-content: space-around;

}
.contenedoroscuro .contenedordeprincipal .titulo{
    display: flex;
}
main .contenedordeprincipal h2{
    display: flex;
    font-family: "Roboto Slab";
    position: absolute;
    font-size: 60.56px;
    text-align: center;
    left: 25%;
    width: 50%;
    top:5pc;
    text-shadow: /*relieve*/   /*sombra*/ 5px 7px 5px rgba(0, 0, 0, .40), 5px 12px 10px rgba(0, 0, 0, .30), 5px 17px 20px rgba(0, 0, 0, .20), 5px 22px 30px rgba(0, 0, 0, .10);
    color: black;
}

main .contenedordeprincipal h3{
    display: flex;
    font-family: "Roboto Slab";
    position: absolute;
    top:20pc;
    font-size: 20px;
    text-align: center;
    color: rgb(109, 219, 154);

}
main .contenedordeprincipal h4{
    display: flex;
    font-family: "Roboto Slab";
    position: absolute;
    top:35pc;
    font-size: 20px;
    text-align: center;
    left: 23px;

}
#descubreahora{
    width: 50px;

}
.link{
    color: white;
}
.contenedorclaro {
    display: flex;
    width: 100%;
    height: 30pc;
}
.contenedorclaro .cuadroimagenes{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

}
.contenedorclaro .gris{
    display: none;
}
.contenedorclaro .cuadroimagenes .imagen1{
    display: flex;
    width: 250px;
    height: 250px;
    background-size: 100%; 
    position:absolute;
    top:48pc;
    left: 15%;

}
.contenedorclaro .cuadroimagenes .imagen2{
    display: flex;
    width: 250px;
    height: 250px;
    background-size: 100%; 
    position:absolute;
    top:50pc;
    left: 15%;
 
}

.contenedorclaro .cuadroimagenes .imagen3{
    display: flex;
    width: 250px;
    height: 250px;
    background-size: 100%; 
    position:absolute;
    top:55pc;
    left: 15%;
}
.contenedorclaro .cuadroimagenes .imagen4{
    display: flex;
    width: 250px;
    height: 250px;
    background-size: 100%; 
    position:absolute;
    top:60pc;
    left: 15%;
}
.contenedormorado{
    display: flex;
    background-color: #850596;
    align-items: center;
    height: 20pc;
    width: 100%;
    flex-direction:column;
    font-family: "Roboto Slab";
}

.contenedormorado .cuadroimagenes2{
    display: flex;
    background-color: #fafffd;
    align-items: center;
    height: 95%;
    width: 100%;
 }
 .contenedormorado .cuadroimagenes2 .texto1{
    display: flex;
    width: 100%;
    right: 5%;
    padding-left: 10%;
    padding-left: 5%;   
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;


 }
.contenedormorado .gris{
    display: none;
}
.contenedormorado .gris .amazon{
    display: flex;
    width: 30px;
    height: 30px;

}
.v-line1{
    display: none;
}
.v-line2{
    display: none;
}
.v-line3{
    display: none;
}
.v-line4{
    display: none;
}
.v-line5{
    display: none;
}
.v-line6{
    display: none;
}
.contenedorrosado .gris{
    display: none;
}

.contenedorrosado{
    display: flex;
    background-color: #f36d66;
    align-items: center;
    height: 30pc;
    width: 100%;
    flex-direction:column;
    font-family: "Roboto Slab";

 }

 .contenedorrosado .cuadroimagenes{
    display: flex;
    background-color: #fafffd;
    align-items: center;
    height: 95%;
    width: 100%;
    justify-content: center;
    align-items: center;

 }

.contenedorcontacto{
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: left;
    margin-left: 0px;
    height: 20pc;
    
}
.contenedorcontacto .invitacion{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content:left
}
h2 button{
    width: 9pc;
    height: 3pc;
    background-color: #850596;
    border: 1px;
    border-radius: 9px;
    text-align: center;
    color: #d0dbe6;
    text-decoration: wavy;
    font-size: 20px;
}
h2 button a{
    width: 9pc;
    height: 3pc;
    background-color: #850596;
    border: 1px;
    border-radius: 9px;
    text-align: center;
    color: #d0dbe6;
    text-decoration: wavy;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab";
    width: 100%;
    background-color: #fff; 
}

.piedepagina{
    display: flex;
    width: 100%;
   flex-direction: column;
   align-items: center;

}

.piedepagina ul{
    display: flex;
     /*Establece el tamaño del espacio entre las filas en un diseño de cuadrícula*/
    font-size: 10px;
    list-style: none;
    align-items: center;
    border-color:#d0dbe6;
    color: black;
}

.piedepagina li{
padding-right: 25px;
width: auto;
font-size: 10px;
}
.piedepagina .iconomenu{
    
    display: flex;
    height: 30px;
    width: 30px;
    align-self: center;
}
.piedepagina .redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contenedorcontacto{
    display: flex;
    height: 10pc;
    width: 100%;
    font-family: "Roboto Slab";
    align-items: center;
       
 }

 .invitacion{
    display: flex;
    width: 80%;
    flex-direction: column; 
 }

#descubreahora{
    width: 20pc;
    height: 3pc;
    background-color: #850596;
    border: 1px;
    border-radius: 9px;
    text-align: center;
    color: black;
    font-size: 30px;
    text-decoration-color: black;
 }
 .datoscontacto{
    display: flex;
    width: 80%;
    flex-direction: column;
 }

.datoscontacto h1{
    display: flex;
    color: #850596;
    text-decoration: wavy;
    font-size: 20px;

}
.datoscontacto h2{
    display: flex;
    color: black;
    text-decoration: wavy;
    font-size: 15px;
}
.datoscontacto h3{
    display: flex;
    color: black;
    text-decoration: wavy;
    font-size: 15px;
}
.espacio{
    display: flex;
    height: 1pc;
    width: 100%;
    background-color: #f6fcfb;
 }
}